.DS_Store
**/.DS_Store
*.DS_Store
.buildpath
.htaccess
.project
.settings
.settings/
.settings/*
application/config/database.php
application/controllers/.DS_Store
application/.DS_Store
application/models/.DS_Store
application/views/.DS_Store
.gitignore
