.fj-nav-info {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #607d8b;
  z-index: 11;
  will-change: transform;
  transition: .2s cubic-bezier(.4, 0, 1, 1);

  &.is-hidden {
    transform: translate3d(0, -100%, 0);
  }
}

.fj-nav-breadcrumbs {
  margin-left: 8px;
  color: #fff;
}

.fj-nav-crumb {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0;
  font-size: 16px;

  .icon-navigate_next {
    display: inline-block;
    vertical-align: middle;
    margin: 1px 4px;
  }
}
