body,
html {
  overflow: hidden; }

body {
  background-color: #607d8b; }

.fj-layout:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.74);
  pointer-events: none;
  opacity: 0;
  transition: 0.2s 0.3s cubic-bezier(0.4, 0, 1, 1);
  z-index: 10; }

.fj-layout.is-overlay:after {
  pointer-events: all;
  opacity: 1; }

.mdl-layout--fixed-header {
  overflow: hidden; }

.fj-toolbar-button {
  margin: 0;
  cursor: pointer;
  box-shadow: none;
  background: none; }
  .fj-toolbar-button svg {
    margin-top: -8px; }

.fj-toolbar-button:active,
.fj-toolbar-button:focus:not(:active),
.fj-toolbar-button:hover {
  box-shadow: none;
  background: none; }

/*card theme colors*/
.white {
  background-color: #fff;
  color: #000; }

.cyan {
  background-color: #25c6da;
  color: #fff; }

.darkcyan {
  background-color: #4db6ac;
  color: #fff; }

.darkgreen {
  background-color: #81c783;
  color: #fff; }

.green {
  background-color: #aed581;
  color: #fff; }

/*main header which is hidden after the transition to the subroute page*/
.fj-main-header {
  will-change: opacity;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1); }

.fj-main-header.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1); }

.fj-header-logo {
  position: absolute;
  left: calc(50% - 36px);
  top: 5px;
  pointer-events: none;
  padding: 5px;
  border-radius: 50%; }
  .fj-header-logo img {
    width: 72px;
    height: 72px; }

.fj-header-logo,
.fj-header-title {
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1);
  will-change: transform, opacity; }

.fj-fade-down {
  transform: translate3d(0, 100%, 0);
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  opacity: 0; }

.fj-header-title.is-hidden {
  display: none; }

.fj-cover-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: all;
  z-index: 2;
  width: 100%;
  align-items: center; }

.fj-cover-progress {
  flex: 1 1 auto;
  margin: 0 16px; }

.fj-nav-info {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: flex-start;
  width: 100%;
  background-color: #607d8b;
  z-index: 11;
  will-change: transform;
  transition: 0.2s cubic-bezier(0.4, 0, 1, 1); }

.fj-nav-info.is-hidden {
  transform: translate3d(0, -100%, 0); }

.fj-nav-breadcrumbs {
  margin-left: 8px;
  color: #fff; }

.fj-nav-crumb {
  display: inline-block;
  vertical-align: middle;
  padding: 16px 0; }
  .fj-nav-crumb .icon-navigate_next {
    display: inline-block;
    vertical-align: sub;
    margin: 0 4px; }

.fj-main-content {
  display: flex;
  top: 64px;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: calc(100% - 64px);
  overflow: visible;
  will-change: transform, opacity; }

.fj-float-menu {
  position: fixed;
  top: 50%;
  transform: translate3d(0, -20%, 0);
  transition: 0.3s cubic-bezier(0, 0, 0.2, 1) 0.2s;
  opacity: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%; }

.fj-float-menu.visible {
  transform: translate3d(0, -50%, 0);
  opacity: 1; }

.fj-menu-button {
  padding: 12px;
  height: auto;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7); }

.fj-menu-button:hover {
  background-color: transparent; }

.fj-menu-button.is-highlighted {
  color: #fff;
  background-color: rgba(158, 158, 158, 0.2); }

.fj-swipe-card {
  position: absolute;
  max-width: 560px;
  padding: 35px;
  cursor: pointer;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-size: 34px;
  line-height: 40px;
  color: #000; }
  .fj-swipe-card > h5 {
    margin: 12px 0; }
  .fj-swipe-card > h5.cyan {
    background-color: transparent;
    color: #25c6da; }
  .fj-swipe-card > h5.darkcyan {
    background-color: transparent;
    color: #4db6ac; }
  .fj-swipe-card > h5.darkgreen {
    background-color: transparent;
    color: #81c783; }
  .fj-swipe-card > h5.green {
    background-color: transparent;
    color: #aed581; }

.fj-icon {
  color: #fff; }

.fj-icon-hamburger {
  position: fixed;
  right: 2px;
  top: 4px;
  padding: 8px; }

.fj-animation-container {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center top;
  z-index: 10;
  will-change: background-color, transform, opacity; }

.fj-float-container {
  position: fixed;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  bottom: 21px;
  right: 25px;
  z-index: 15; }
  .fj-float-container .mdl-button {
    color: #607d8b;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center; }

.fj-diversion-button {
  margin: 16px 0 0; }

.fj-float-container.cyan,
.fj-float-container.darkcyan,
.fj-float-container.darkgreen,
.fj-float-container.green {
  background-color: transparent; }

.fj-float-container.cyan .mdl-button {
  background-color: #25c6da;
  color: #fff; }

.fj-float-container.cyan .mdl-button:hover {
  background-color: #1fb3c5; }

.fj-float-container.darkcyan .mdl-button {
  background-color: #4db6ac;
  color: #fff; }

.fj-float-container.darkcyan .mdl-button:hover {
  background-color: #40a59b; }

.fj-float-container.darkgreen .mdl-button {
  background-color: #81c783;
  color: #fff; }

.fj-float-container.darkgreen .mdl-button:hover {
  background-color: #70b972; }

.fj-float-container.green .mdl-button {
  background-color: #aed581;
  color: #fff; }

.fj-float-container.green .mdl-button:hover {
  background-color: #97bd6b; }

.fj-float-container.inverted .mdl-button {
  background-color: #607d8b;
  color: #fff; }

.fj-float-container.inverted .mdl-button:hover {
  background-color: #455A64; }

.fj-float-container .mdl-button:hover {
  background-color: #E0E0E0; }

.fj-fab-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-top: 16px;
  margin-right: 8px;
  transition: 0.3s cubic-bezier(0.4, 0, 1, 1);
  will-change: transform, opacity; }

.fj-tooltext {
  line-height: 14px;
  font-size: 14px;
  padding: 16px;
  margin-right: 8px;
  background: rgba(97, 97, 97, 0.9);
  border-radius: 2px;
  color: #fff;
  font-weight: 500; }

.fj-qs-button {
  font-size: 32px; }

.fj-ttab-button {
  font-size: 18px; }

.fj-float-container.is-hidden .fj-fab-container:first-of-type {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.4, 0, 0.6, 1); }

.fj-float-container.is-hidden .fj-fab-container:nth-of-type(2) {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s cubic-bezier(0.4, 0, 0.6, 1); }

.fj-float-container.is-nodisplay .fj-fab-container {
  display: none; }

.fj-main-menu {
  position: fixed;
  left: 100%;
  top: 0;
  height: 100%;
  width: 75%;
  min-width: 250px;
  background-color: #fff;
  z-index: 20;
  will-change: transform; }

.fj-main-tab {
  flex: 1 0 auto;
  font-weight: 600;
  color: #01acc6; }

.fj-chat-placeholder {
  padding: 16px; }
  .fj-chat-placeholder img {
    width: 100%;
    margin: 16px; }
  .fj-chat-placeholder h6 {
    margin: 0;
    font-weight: 700;
    color: #424242;
    text-align: center; }
  .fj-chat-placeholder a {
    color: #00bcd4;
    text-decoration: none; }

/*page card inner classes*/
.fj-inner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  will-change: transform; }

.fj-inner-content.is-hidden {
  display: none; }

.fj-card-figure {
  flex: 1 0 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25%;
  min-height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  cursor: pointer;
  box-sizing: border-box;
  will-change: transform; }

.fj-card-figure.two {
  flex: 1 0 50%; }

.fj-card-figure.three {
  flex: 1 0 75%; }

.fj-card-figure.white {
  justify-content: flex-start; }

/*loader hidden*/
.fj-content-loading {
  will-change: display;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  padding-right: 6px; }

.fj-content-loading.visible {
  display: flex; }

.mdl-spinner--single-color .mdl-spinner__layer-1,
.mdl-spinner--single-color .mdl-spinner__layer-2,
.mdl-spinner--single-color .mdl-spinner__layer-3,
.mdl-spinner--single-color .mdl-spinner__layer-4 {
  border-color: #fff; }

/*error button*/
.fj-retry-loader {
  color: #000 !important;
  margin-top: 8px; }

.fj-retry-loader.is-hidden {
  display: none; }

/*put something below overlay*/
.below-overlay {
  z-index: 4; }

/*small screen fixes*/
.is-small-screen .fj-icon-hamburger {
  top: 2px; }

.is-small-screen .fj-main-content {
  top: 56px;
  height: calc(100% - 56px); }

.is-small-screen .fj-swipe-card {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale; }

/*animations*/
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

.animate {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown; }
