<div class="fj-card-figure cyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Angry</h5>
</div>
<div class="fj-card-figure darkcyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Anxious</h5>
</div>
<div class="fj-card-figure darkgreen mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Stressed</h5>
</div>
<div class="fj-card-figure green mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Tensed</h5>
</div>
<div class="fj-card-figure cyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Angry</h5>
</div>
<div class="fj-card-figure darkcyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Anxious</h5>
</div>
<div class="fj-card-figure darkgreen mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Stressed</h5>
</div>
<div class="fj-card-figure green mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Tensed</h5>
</div>
<div class="fj-card-figure cyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Angry</h5>
</div>
<div class="fj-card-figure darkcyan mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Anxious</h5>
</div>
<div class="fj-card-figure darkgreen mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Stressed</h5>
</div>
<div class="fj-card-figure green mdl-shadow--2dp">
  <h5 class="fj-card-figure__title">Tensed</h5>
</div>
