body,
html {
  overflow: hidden;
}

body {
  background-color: #607d8b;
}

.fj-layout:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .74);
  pointer-events: none;
  opacity: 0;
  transition: .2s .3s cubic-bezier(.4, 0, 1, 1);
  z-index: 10;
}

.fj-layout.is-overlay:after {
  pointer-events: all;
  opacity: 1;
}

/*main header which is hidden after the transition to the subroute page*/
.fj-main-header {
  will-change: opacity;
  transition: .3s cubic-bezier(.4, 0, 1, 1);
}

.fj-main-header.is-hidden {
  opacity: 0;
  pointer-events: none;
  transition: .3s cubic-bezier(0, 0, .2, 1);
}

.fj-header-logo {
  position: absolute;
  left: calc(50% - 36px);
  top: 5px;
  pointer-events: none;
  padding: 5px;
  border-radius: 50%;
}

.fj-main-header.cyan .fj-header-logo,
.fj-main-header.darkcyan .fj-header-logo,
.fj-main-header.darkgreen .fj-header-logo,
.fj-main-header.green .fj-header-logo {
  background-color: #fff;
}

.fj-header-logo img {
  width: 72px;
  height: 72px;
}

.fj-header-logo,
.fj-header-title {
  transition: .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  will-change: transform, opacity;
}

.fj-fade-down {
  transform: translate3d(0, 100%, 0);
  transition: .3s cubic-bezier(0.4, 0.0, 1, 1);
  opacity: 0;
}

.fj-cover-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  pointer-events: all;
  z-index: 2;
  width: 100%;
  align-items: center;
}

.fj-cover-header button {
  margin: 0;
  cursor: pointer;
  box-shadow: none;
  background: none;
}

.fj-cover-header button:active,
.fj-cover-header button:focus:not(:active),
.fj-cover-header button:hover {
  box-shadow: none;
  background: none;
}

.fj-cover-header button svg {
  margin-top: -8px;
}

.fj-cover-progress {
  flex: 1 1 auto;
  margin: 0 16px;
}

.fj-swipe-card {
  position: absolute;
  max-width: 560px;
  padding: 35px;
  cursor: pointer;
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-size: 34px;
  line-height: 40px;
  color: #000;
}

.fj-icon {
  color: #fff;
}

.fj-icon-hamburger {
  position: fixed;
  right: 2px;
  top: 4px;
  padding: 8px;
  cursor: pointer;
  box-shadow: none;
  background: none;
}

.fj-icon-hamburger:active,
.fj-icon-hamburger:focus:not(:active),
.fj-icon-hamburger:hover {
  box-shadow: none;
  background: none;
}

.fj-icon-hamburger svg {
  margin-top: -8px;
}

.mdl-layout--fixed-header {
  overflow: hidden;
}

.fj-main-content {
  display: flex;
  top: 64px;
  z-index: 3;
  position: fixed;
  width: 100%;
  height: calc(100% - 64px);
  overflow: visible;
  will-change: transform, opacity;
}

.fj-float-menu {
  position: fixed;
  top: 50%;
  transform: translate3d(0, -20%, 0);
  transition: .3s cubic-bezier(0, 0, .2, 1) .2s;
  opacity: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fj-float-menu.visible {
  transform: translate3d(0, -50%, 0);
  opacity: 1;
}

.fj-menu-button {
  padding: 12px;
  height: auto;
  font-size: 18px;
  color: rgba(255, 255, 255, .7);
}

.fj-menu-button.is-highlighted {
  color: #fff;
  background-color: rgba(158,158,158,.2);
}

.fj-animation-container {
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: center top;
  z-index: 10;
  will-change: background-color, transform, opacity;
}

.fj-float-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 21px;
  right: 25px;
  z-index: 15;
}

/*card theme colors*/
.white {
  background-color: #fff;
  color: #000;
}

.cyan {
  background-color: #25c6da;
  color: #fff;
}

.darkcyan {
  background-color: #4db6ac;
  color: #fff;
}

.darkgreen {
  background-color: #81c783;
  color: #fff;
}

.green {
  background-color: #aed581;
  color: #fff;
}

.fj-float-container .mdl-button {
  margin-top: 16px;
  color: #607d8b;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fj-float-container.cyan,
.fj-float-container.darkcyan,
.fj-float-container.darkgreen,
.fj-float-container.green {
  background-color: transparent;
}

.fj-float-container.cyan .mdl-button {
  background-color: #25c6da;
  color: #fff;
}

.fj-float-container.cyan .mdl-button:hover {
  background-color: #1fb3c5;
}

.fj-float-container.darkcyan .mdl-button {
  background-color: #4db6ac;
  color: #fff;
}

.fj-float-container.darkcyan .mdl-button:hover {
  background-color: #40a59b;
}

.fj-float-container.darkgreen .mdl-button {
  background-color: #81c783;
  color: #fff;
}

.fj-float-container.darkgreen .mdl-button:hover {
  background-color: #70b972;
}

.fj-float-container.green .mdl-button {
  background-color: #aed581;
  color: #fff;
}

.fj-float-container.green .mdl-button:hover {
  background-color: #97bd6b;
}

.fj-float-container.inverted .mdl-button {
  background-color: #607d8b;
  color: #fff;
}

.fj-float-container.inverted .mdl-button:hover {
  background-color: #455A64;
}

.fj-float-container .mdl-button:hover {
  background-color: #E0E0E0;
}

.fj-qs-button {
  font-size: 32px;
  transition: .3s cubic-bezier(.4, 0, 1, 1);
}

.fj-ttab-button {
  font-size: 18px;
  transition: .3s cubic-bezier(.4, 0, 1, 1);
}

.fj-float-container.is-hidden .fj-qs-button {
  transform: translate3d(0, 200%, 0);
  opacity: 0;
  pointer-events: none;
  transition: .3s cubic-bezier(.4, 0, .6, 1);
}

.fj-float-container.is-hidden .fj-ttab-button {
  transform: translate3d(0, 100%, 0);
  opacity: 0;
  pointer-events: none;
  transition: .3s cubic-bezier(.4, 0, .6, 1);
}

/*page card inner classes*/
.fj-inner-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.fj-inner-content.is-hidden {
  display: none;
}

.fj-card-figure {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 25%;
  min-height: 90px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 16px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(0, 0, 0, .3);
  will-change: transform;
}

.fj-card-avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.fj-card-text {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.fj-card-text h5, 
.fj-card-text h6 {
  margin: 2px 0;
  text-transform: capitalize;
}

.fj-card-icon {
  margin-left: auto;
  color: #607d8b;
  font-size: 24px;
}

/*loader hidden*/
.fj-content-loading {
  will-change: display;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 0 auto;
  padding-right: 6px;
}

.fj-content-loading.visible {
  display: flex;
}

.mdl-spinner--single-color .mdl-spinner__layer-1,
.mdl-spinner--single-color .mdl-spinner__layer-2,
.mdl-spinner--single-color .mdl-spinner__layer-3,
.mdl-spinner--single-color .mdl-spinner__layer-4 {
  border-color: #fff;
}

/*error button*/
.fj-retry-loader {
  color: #000 !important;
  margin-top: 8px;
}

.fj-retry-loader.is-hidden {
  display: none;
}

/*small screen fixes*/
.is-small-screen .fj-icon-hamburger {
  top: 2px;
}

.is-small-screen .fj-main-content {
  top: 56px;
  height: calc(100% - 56px);
}

.is-small-screen .fj-swipe-card {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  -moz-osx-font-smoothing: grayscale;
}

/*animations*/
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.animate {
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(.25, .46, .45, .94);
  animation-timing-function: cubic-bezier(.25, .46, .45, .94);
}

.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

.slideOutDown {
  -webkit-animation-name: slideOutDown;
  animation-name: slideOutDown;
}
