<div id="fj-cover-header" class="fj-cover-header">
  <button id="fj-home-button" class="waves-effect waves-circle waves-light btn-floating btn-large fj-icon fj-toolbar-button">
    <i class="icon-home"></i>
  </button>
  <div class="progress fj-cover-progress">
    <div id="fj-cover-progress" class="determinate"></div>
  </div>
  <button id="fj-info-button" class="waves-effect waves-circle waves-light btn-floating btn-large fj-icon fj-toolbar-button">
    <i class="icon-info_outline"></i>
  </button>
  <button id="fj-share-button" class="waves-effect waves-circle waves-light btn-floating btn-large fj-icon fj-toolbar-button">
    <i class="icon-share"></i>
  </button>
</div>