{% macro header(title) %}
  <nav id="fj-main-header" class="fj-main-header">
    <div class="tab-line">
      <a href="https://feeljoy.in" id="fj-header-title" class="fj-header-title">{{ title }}</a>
      <button id="fj-icon-hamburger" data-activates="fj-main-menu" class="waves-effect waves-circle waves-light btn-floating btn-large fj-icon-hamburger fj-toolbar-button">
        <i class="icon-menu"></i>
      </button>
    </div>
    <div class="tab-line">
      <ul id="fj-listener-tabs" class="tabs tabs-fixed-width">
        <li class="tab">
          <a class="waves-effect waves-light" href="#fj-buddy-list">Buddy</a>
        </li>
        <li class="tab">
          <a class="waves-effect waves-light" href="#fj-chat-list">Chat</a>
        </li>
      </ul>
    </div>
  </nav>
{% endmacro %}