$primary-color: #607d8b;
$inner-content-scroll: false !default;
$page-header-centered: true !default;
$page-header-noshadow: false !default;
$listener-page: false !default;
$font-regular: 'quicksand', Helvetica, Arial, Sans-Serif;
$font-bold: 'quicksand-bold', Helvetica, Arial, Sans-Serif;
