@import 'material/materialize';
@import 'variables';

$inner-content-scroll: true;
$listener-page: true;
@import 'color-definitions';
@import 'base';
@import 'components/colors';
@import 'components/header-tabs';
@import 'components/main-content';
@import 'components/fab';
@import 'components/menu';
@import 'components/loader';
@import 'components/inner-content';
@import 'placeholder/overlay';

.fj-main-content {
  top: 0;
  height: 100%;
}

.fj-inner-content {
  font-family: "Tahoma",sans-serif;
  background-color: #fff;
  padding: 72px 16px 16px;
  color: unquote("rgb(#{nth($palette-grey, 9)})");

  p {
    font-size: 18px;
  }
}

$palette-list: $palette-cyan $palette-teal $palette-green $palette-light-green;
$colors-list: "cyan" "darkcyan" "darkgreen" "green";

// CHANGED the default fab color
.fj-float-container .btn-floating {
  background-color: unquote("rgb(#{nth($palette-cyan, 4)})");

  i {
    color: #fff;
  }
}
@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);
  $palette-color: nth($palette-list, $i);

  .#{$current-color} {
    .fj-float-container .btn-floating {
      background-color: unquote("rgb(#{nth($palette-color, 4)})");

      i {
        color: #fff;
      }
    }
  }
}
@import 'components/snackbar';
@import 'themes/listeners';
@import 'components/small-screen';
@import 'components/animations';